html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.left {
    display: inline-block;
    background-color: lightgrey;
    height: 100%;
    width: 30%;
}

.right {
    display: inline-block;
    height: 100%;
    width: 70%;
    float: right;
}

.navTitle {
    display: inline-block;
    padding: 0rem 0rem 1rem 1rem;
}

.container {
    display: inline-block;
}

#addBtn {
    display: inline-block;
    border: 3px solid #337ab7;
    border-radius: 10px;
    background-color: white;
    padding: .6rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    position: relative;
    top: -4px;
}

.roomButtons {
  padding-left: 1rem;
  font-size: 1.3em;
}

.selRoom {
    padding: 1rem;
    font-size: 1.3em;
    color: #337ab7;
}

.msgBox {
    height: 90%;
}

.timing {
    float: right;
}

.sendMessage {
    width: 90%;
    margin-left: 1rem;
}

.sendButton {
    border-color: #337ab7;
    background-color: white;
    border-radius: 10px;
    border-width: 3px;
    color: #337ab7;
    font-size: 1.3em;
    padding: 1.3px;
}

.sendButton:hover {
    font-style: oblique;
}

.uMod {
    padding-left: 2rem;
}
.uMod h3 {
    color: #337ab7;
    align-content: center;
}
.uMod input {
    margin-bottom: 1rem;
    width: 80%;
}
.uMod div button {
    margin-bottom: 1rem;
    border-radius: 10px;
    border-color: #337ab7;
    border-width: 3px;
    background-color: white;
    color: #337ab7;
    font-size: 2rem;
}
.uMod div button:hover {
    font-style: oblique;
}


.mod {
    padding-left: 2rem;
}
.mod h2 {
    color: #337ab7;
}
.mod input {
    margin-bottom: 1rem;
    width: 90%
}
.mod .btns {
    display: inline-block;
    padding-bottom: 2rem;
}
.mod .btns .newRoo {
    border-radius: 8px;
    border-width: 3px;
    border-color: #337ab7;
    background-color: white;
    color: #337ab7;
    font-size: 1.9rem;
    margin-right: 76px;
}
.mod .btns .newRoo:hover {
    font-style: oblique;
}
