html {
    height: 100%;
    font-size: 100%;
}

.sideBar {
    background-color: lightgrey;
    float: left;
    width: 35%;
    height: 100%;
}

.navTitle {
    color: #444444;
    padding-left: 10px;
    display: inline-block;
}

#addBtn {
    display: inline-block;
    padding: 3px;
    margin: 10px 10px 15px 10px;
    font-size: 20px;
    border-style: solid;
    border-width: thin;
    border-radius: 6px;
}

.roomButtons {
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    font-size: 17px;
    color: black;
}

.msgBox {
    float: right;
    width: 65%;
    height: 100%;
}

.modal-box {
    position:absolute;
    width:350px;
    top: 20%;
    left: 60%;
    margin-left: -200px;
    margin-top: -40px;
    padding: 6px;
    border-width: 2px;
    background-color: darkgrey;
    border-style: inset;
    border-color: black;
}

.selRoom {
    padding: 12px 12px 12px 12px;
    font-size: 20px;
}
.sender {
    font-size: 17px;
    color: darkblue;
}
.wording {

}
.timing {
    float: right;
}
